PORT=3000
WHATSAPP_TOKEN=EAAJcT96RdtEBRbRSXOAPUY32hJNM35TTCw0jvrWS227asUTcGf7d39DKr86nuVREFHn6Axbwdh0R1KTADWzGBG4LSbUHoKTWCxlHLnMXweuqd4ZBLZArlSpwt2Sn2xl1sSyeahmuqMcNQrZASCl76hjdDypJZCpVD14H7ntUzZBr7SkZBY1Oo7c6ZA7oWEX0fTwS7F8ZCsozJHGXxG0t9rTZAbdrcSW1VZBgK8dimUiawoSgb3jiIzZChhMYwunZAW3XVFTIaCZAZCyBipJ71e9v5tLKn2ZBlzFwN3HiVSOzwZDZD
PHONE_NUMBER_ID=121909740999261
MONGODB_URI=mongodb+srv://surexs:Ammia-21@cluster0.kfgqhqj.mongodb.net/surexs_whatsapp?retryWrites=true&w=majority&appName=Cluster0
VERIFY_TOKEN=Ammia-21
ADMIN_TOKEN=ESTEesELtokenDEchatWHATSAPP


EMAIL_ENABLED=true
EMAIL_TO=tu-correo@empresa.com

SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_usuario_smtp
SMTP_PASS=tu_password_smtp
EMAIL_FROM="Surexs Bot <no-reply@surexs.com>"
