# Server
PORT=3000

# Mongo
MONGODB_URI=mongodb://127.0.0.1:27017/surexs_whatsapp

# Meta / WhatsApp Cloud API
WHATSAPP_TOKEN=EAAJcT96RdtEBOxt4RUZC19GZCMt22gfCJDmwmaiHlPmLKT7sPxl32nW75JYBw09YnMBc1nyyUFRddMGmllADin8OEunQRW4Y5Rvob3QhoIF1hhTNksEhu4rA7cLGgSW3RFQ6CpPHqQS4L6zMI0IDMRXWqw9A5VZC1cMhXnWljVvqdiZBialB1qX5sSxLgCwe3gIiI2hRMz9L
PHONE_NUMBER_ID=121909740999261
VERIFY_TOKEN=jon666

# Admin (panel outbox)
ADMIN_TOKEN=

# Email / Outbox notifications
EMAIL_ENABLED=true
EMAIL_TO=tu-correo@empresa.com
EMAIL_FROM="Surexs Bot <no-reply@surexs.com>"

SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_usuario_smtp
SMTP_PASS=tu_password_smtp
